
@model BioStockholm.Web.Models.ViewModels.NereaProductListPageViewModel


<h1 @Html.EditAttributes(x => x.Heading)>@Model.Heading</h1>
<p class="introduction" @Html.EditAttributes(x => x.Preamble)>@Model.Preamble</p>