@using BioStockholm.Web.Models.Pages
@model PageViewModel<NereaProductListPage>

<div class="productListPage-heading">
    <h1 @Html.EditAttributes(x => x.CurrentPage.PageHeading)>@Model.CurrentPage.PageHeading</h1>
    <p class="introduction" @Html.EditAttributes(x => x.CurrentPage.PagePreamble)>@Model.CurrentPage.PagePreamble</p>
</div>
