@model BookingPageViewModel


<div class="bookingpage-container">
    <h2>Booknings sidan</h2>
    <div class="bookingpage-wrap">
        <div class="bookingpage-reservation">
            <h1>hej</h1>
            <input type="number" value="1" min="1" max="8" id="quantitySeats"/>
            <div class="bookingpage-salong">
                <div class="bookingpage-salong-duken"></div>
                <table>
                    <tr data-row="1">
                        <td data-column="1">
                            <input type="checkbox" id="seat_1_1"/>
                        </td>
                        <td data-column="2">
                            <input type="checkbox" id="seat_1_2" />
                        </td>
                        <td data-column="3">
                            <input type="checkbox" id="seat_1_3"/>
                        </td>
                        <td data-column="4">
                            <input type="checkbox" id="seat_1_4"/>
                        </td>
                        <td data-column="5">
                            <input type="checkbox"/>
                        </td>
                        <td data-column="6">
                            <input type="checkbox"/>
                        </td>
                        <td data-column="7">
                            <input type="checkbox"/>
                        </td>
                        <td data-column="8">
                            <input type="checkbox"/>
                        </td>
                        <td data-column="9">
                            <input type="checkbox" />
                        </td>
                        <td data-column="10">
                            <input type="checkbox" />
                        </td>
                    </tr>
                    <tr data-row="2">
                        <td data-column="1">
                            <input type="checkbox"/>
                        </td>
                        <td data-column="2">
                            <input type="checkbox"/>
                        </td>
                        <td data-column="3">
                            <input type="checkbox"/>
                        </td>
                        <td data-column="4">
                            <input type="checkbox"/>
                        </td>
                        <td data-column="5">
                            <input type="checkbox"/>
                        </td>
                        <td data-column="6">
                            <input type="checkbox"/>
                        </td>
                        <td data-column="7">
                            <input type="checkbox"/>
                        </td>
                        <td data-column="8">
                            <input type="checkbox"/>
                        </td>
                        <td data-column="9">
                            <input type="checkbox" />
                        </td>
                        <td data-column="10">
                            <input type="checkbox" />
                        </td>
                    </tr>
                    <tr data-row="3">
                        <td data-column="1">
                            <input type="checkbox"/>
                        </td>
                        <td data-column="2">
                            <input type="checkbox"/>
                        </td>
                        <td data-column="3">
                            <input type="checkbox"/>
                        </td>
                        <td data-column="4">
                            <input type="checkbox"/>
                        </td>
                        <td data-column="5">
                            <input type="checkbox"/>
                        </td>
                        <td data-column="6">
                            <input type="checkbox"/>
                        </td>
                        <td data-column="7">
                            <input type="checkbox"/>
                        </td>
                        <td data-column="8">
                            <input type="checkbox"/>
                        </td>
                        <td data-column="9">
                            <input type="checkbox" />
                        </td>
                        <td data-column="10">
                            <input type="checkbox" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="bookingpage-gettickets">
            <h1>hej hej</h1>
        </div>
    </div>
</div>

