@using BioStockholm.Web.Business.Extensions
@using EPiServer.Web.Routing
@model NereaStartPageViewModel

<div class="main-carusell">
    @Html.PropertyFor(x => x.MainContentArea)
</div>

<div class="startpage-maincontent">
    <ul>
        @foreach (var product in Model.Products)
        {
            <li>
                @*todo hämta bild*@
                
                <a href="@product.ContentLink.Url()">@product.Name</a>
            </li>
        }
    </ul>
  
</div>