@model PageViewModel<NereaStartPage>

<div class="main-carusell">
    @Html.PropertyFor(x =>x.CurrentPage.MainContentArea)
</div>

<div class="startpage-maincontent">
    <h1>NEREAS STARTSIDA</h1>
</div>