@model IPageViewModel<SitePageData>
<div class="footer-content">
    <hr />
    <div class="">
        <a href="">Kundservice</a>
    </div>
    <div class="">
        <a href="">Info</a>
    </div>
    <div class="">
        <a href="">Frågor och Svar</a>
    </div>
    <div class="">
        <a href="">Om Bio Stockholm</a>
    </div>

</div>

